h3 {
    padding: 10px;
    font-family: monospace;
    font-size:x-large;
}

.form {
    font-family: monospace;
    font-size:x-large;
    padding: 20px;

    ::placeholder {
        font-family: monospace;
        font-size:x-large;
        padding: 5px;
        }
        
    .input-field {
        font-size: large;
        width: 35%;
        height: 40px;

    }
    .message-field {
        height: 150px;
        width: 35%;
        font-size: large;
        font-family: monospace;
    }
    .button {
        width: 35%;
        font-family: monospace;
        font-size: x-large;
        margin-top: 10px;
        background-color:#fcf2ec;
        color:  #355c7d;
        height: 40px;
    }
}

a {
    text-decoration: none;
}