.resume-container {
    font-family: monospace;

    .resume-header{
        padding: 0px;
        font-family: monospace;
        margin-top: 10px;
        font-size: 1.5rem;
        margin-left: 20px;
        font-weight: bold;
    }

    .resume-link {
        padding: 20px;
    }

    .resume-headers { 
        margin-top: 20px;
        margin-left: 20px;
      }
    .resume-list {
        margin-left: 20px;
        font-size: x-large;

        .resume-items {
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }

}